@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
    font-family: dosis, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


@media(max-width: 768px){
  .header_menu{
    width: 100%!important;
    padding: 10px;
  }
  .header_content, .header_video{
    width: 100%!important;
  }
  .headerPage_header_video_title, .headerPage_header{
    display: block!important;
  }
  .vantages_section_list{
    background-image: none!important;
    background-color: #eafcff!important;
  }
}