.button{
  border-radius: 20px;
  background-image: linear-gradient(180deg, #2cdd9c, #1dc8cc);
  background-size: auto !important;
  padding: 7px 20px;
  font-weight: 700!important;
  font-size: 16px;
  text-transform: capitalize;
}

.button:hover{
  opacity: 0.9;
  background-color: #EABD4B;

}