.section_benefits{
  background-image: url("../../../public/images/bg_bottom.jpg");
  background-position: top;
}

.section_benefits_list_item{
  display: flex;
  justify-content: left;
  align-items: center;
  margin-bottom: 40px;
}

.section_benefits_list_item_icon{
  margin-right: 10px;
  color:#5D92FF
}

.section_benefits_list_item_title{
  font-size: 27px;
  color: #000;
  font-weight: 100;
}

.section_benefits_list_item_observation{
  font-size: 18px;
  font-weight: 300;
}

.section_beneficts_footer{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  max-width:60%;
  margin: 0 auto;
}

@media(max-width: 768px){
  .section_benefits{
    background-image:none!important;
    background-color: #04b7fe6c;
  }
  .section_benefits_list_item_observation{
    padding: 30px;
  }
  .section_beneficts_footer{
    max-width: 90%!important;
    display: block!important;
  }

  .section_benefits button{
    display: flex;
    margin: 0 auto;
  }
}